<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <a href="/" class="back">Quay lại</a>

    <div class="wrapp">
      <form action="" class="form" method="POST">
        <h2 class="d-flex justify-content-center mb-3" style="color: #ef6b6b">
          Đăng nhập
        </h2>
        <p
          class="mb-5 d-flex justify-content-center"
          style="font-size: 0.8rem; color: #666"
        >
          Chào mừng đến với cửa hàng chúng tôi
        </p>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Password
          </label>
          <input
            type="password"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=" Password"
          />
        </div>

        <button class="btn_login" type="submit">Đăng nhập</button>

        <p style="font-size: 0.8rem" class="d-flex justify-content-center mt-4">
          Nhấp đăng kí nếu chưa đã có tài khoản.
          <a href="/view/signup.html" class="mx-2">Đăng kí</a>
        </p>
      </form>
    </div>

    <!-- js -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
